body{
    margin: 0;
    overflow-x: hidden;
}
.navbar {
    height: 60px;
    width: 100%;
    /* border: 2px solid red; */
    background-color: rgb(13, 61, 59);
    display: flex;
    position: sticky;
    top: 0px;
    opacity: 0.95;
    z-index: 2;
}
.navbar .div1 {
    /* border: 2px solid red; */
    width: 1000px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1200px){
    .navbar   .div1 .home_li{
        display: none;
    }
    .navbar   .div2{
        display: none;
    }


}

.logo {

    margin-top: 10px;
    margin-left: 20px;
}

#list1 {
    display: flex;
}

.home_li {
    list-style-type: none;
    margin-right: 20px;
    color: white;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #5EA12B;
}

.navbar .div2 {
    margin-top: 0px;
    width: 400px;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    /* margin-left: 300px; */



}

.abc {
    font-size: 35px !important;
    color: white;
    margin-left: 2px;
    /* padding-top: 10px; */
    margin-top: ;
}

#mycart {
    /* margin-top: 10px !important; */
    /* margin-bottom: 10px; */
    width: 200px;
    height: 40px;
    border: none;
    /* border: 2px solid red !important; */
    border-radius: 25px;
    margin-left: 40px;
    color: rgb(34, 83, 80);
    font-size: 15px;
}

/* navbar :end */


/* body :start */

.service_box1{
    margin-top: 0px;
    background-color: rgb(19,72,69) !important;
    height: 400px;
    width: 100%;
    /* border: 2px solid red; */
    background: url(/images/p6.png);
}
.service_box1 h2{
    margin: 0px;
    text-align: center;
    color: rgb(255,255,255);
    font-size: 85px;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-top: 200px;
}
@media screen and (max-width: 1200px){
    .service_box1 h2{
        text-align: center;
        color: rgb(255,255,255);
        font-size: 85px;
        letter-spacing: 2px;
        word-spacing: 2px;
        /* margin-top: 200px; */
    }  
}


/* box1 end */
/* box2 :start */
.service_box2{
    height: 400px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service_box2 .div1{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: url(/images/s1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.service_box2 .div2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: rgb(122,203,41);
  border-radius: 25px;
 
}
.service_box2 .div2 p{
    align-items: center;
    justify-content: center;
}
#zero{
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: white;
    margin: 0;
}
#plant{
    font-size: 35px;
    color: rgb(19,72,62);
}
.service_box2 .div3{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: url(/images/s2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1200px){
    .service_box2{
        height: auto;
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .service_box2 .div1{
        margin: 20px;
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: url(/images/s1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .service_box2 .div2{
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: rgb(122,203,41);
      border-radius: 25px;
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .service_box2 .div2 p{
        align-items: center;
        justify-content: center;
    }
    #zero{
        align-items: center;
        justify-content: center;
        font-size: 70px;
        color: white;
        margin: 0;
    }
    #plant{
        font-size: 35px;
        color: rgb(19,72,62);
    }
    .service_box2 .div3{
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: url(/images/s2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 20px;
    }
}
.service_box3 {
    height: 450px;
    width: 100%;
    /* border: 2px solid red; */
    /* align-items: center; */
    /* text-align: center; */
}
.we{
    font-size: 70px;
    color: rgb(19,72,69);
    text-align: center;
    margin-top: 40;
    align-items: center;


}
#u{
    font-size: 20px;
    color: rgb(177,180,179);
}
@media screen and (max-width: 1200px){
    .service_box3 {
        height: auto;
        width: 100%;
        /* border: 2px solid red; */
    }
    .laculis{
        height: 80px;
        width: 900px;
        /* border: 2px solid red; */
        background: rgb(245,245,245);
        /* text-align: center; */
        align-items: center;
        /* justify-content: center; */
        margin-left: 200px;
        font-size: 25px;
        color: rgb(19,72,69);
        display: flex;
        margin-bottom: 20px;
    }
    .laculis .div2{
        display: flex;
        flex-direction: column;
    }
}
.laculis{
    height: 80px;
    width: 900px;
    /* border: 2px solid red; */
    background: rgb(245,245,245);
    /* text-align: center; */
    align-items: center;
    /* justify-content: center; */
    margin-left: 200px;
    font-size: 25px;
    color: rgb(19,72,69);
    display: flex;
    margin-bottom: 20px;
}
.laculis .div2{
    display: flex;
}
#m{
    height: 50px;
    width: 290px;
    background: white;
    border: none;
    margin-left: 40px;
    font-size: 15px;
    color: rgb(177,180,179);
}
.service_box4{
    height: 400px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service_box4 .div1{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: url(/images/s3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.service_box4 .div2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: rgb(122,203,41);
  border-radius: 25px;
 
}
.service_box4 .div2 p{
    align-items: center;
    justify-content: center;
}
.service_box4 .div3{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: url(/images/s4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1200px){
    .service_box4{
        height: auto;
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .service_box4 .div1{
        margin: 20px;
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: url(/images/s3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .service_box4 .div2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: rgb(122,203,41);
      border-radius: 25px;
      margin: 20px;
    }
    .service_box4 .div2 p{
        align-items: center;
        justify-content: center;
    }
    #zero{
        align-items: center;
        justify-content: center;
        font-size: 70px;
        color: white;
        margin: 0;
    }
    #plant{
        font-size: 35px;
        color: rgb(19,72,62);
    }
    .service_box4 .div3{
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: url(/images/s4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 20px;
    } 
}
@media screen and (max-width: 1200px){
    .service_box5 {
        height: auto;
        width: 100%;
        /* border: 2px solid red; */
    }
    .laculis{
        height: 80px;
        width: 900px;
        /* border: 2px solid red; */
        background: rgb(245,245,245);
        /* text-align: center; */
        align-items: center;
        /* justify-content: center; */
        margin-left: 200px;
        font-size: 25px;
        color: rgb(19,72,69);
        display: flex;
        margin-bottom: 20px;
    }
    .laculis .div2{
        display: flex;
        flex-direction: column;
    }
}
.service_box6{
    height: 400px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service_box6 .div1{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: url(/images/s5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.service_box6 .div2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: rgb(122,203,41);
  border-radius: 25px;
 
}
.service_box6 .div2 p{
    align-items: center;
    justify-content: center;
}
.service_box6 .div3{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: url(/images/s6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1200px){
    .service_box6{
        height: auto;
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .service_box6 .div1{
        margin: 20px;
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: url(/images/s5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .service_box6 .div2{
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: rgb(122,203,41);
      border-radius: 25px;
      margin: 20px;
    }
    .service_box6 .div2 p{
        align-items: center;
        justify-content: center;
    }
    #zero{
        align-items: center;
        justify-content: center;
        font-size: 70px;
        color: white;
        margin: 0;
    }
    #plant{
        font-size: 35px;
        color: rgb(19,72,62);
    }
    .service_box6 .div3{
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: url(/images/s6.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 20px;
    } 
}
@media screen and (max-width: 1200px){
    .service_box7 {
        height: auto;
        width: 100%;
        /* border: 2px solid red; */
    }
    .laculis{
        height: 80px;
        width: 900px;
        /* border: 2px solid red; */
        background: rgb(245,245,245);
        /* text-align: center; */
        align-items: center;
        /* justify-content: center; */
        margin-left: 200px;
        font-size: 25px;
        color: rgb(19,72,69);
        display: flex;
        margin-bottom: 20px;
    }
    .laculis .div2{
        display: flex;
        flex-direction: column;
    }
}
.service_box8{
    height: 400px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service_box8 .div1{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: url(/images/s7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.service_box8 .div2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: rgb(122,203,41);
  border-radius: 25px;
 
}
.service_box8 .div2 p{
    align-items: center;
    justify-content: center;
}
.service_box8 .div3{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    background: url(/images/s8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1200px){
    .service_box8{
        height: auto;
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .service_box8 .div1{
        margin: 20px;
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: url(/images/s7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .service_box8 .div2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: rgb(122,203,41);
      border-radius: 25px;
      margin: 20px;
    }
    .service_box8 .div2 p{
        align-items: center;
        justify-content: center;
    }
    #zero{
        align-items: center;
        justify-content: center;
        font-size: 70px;
        color: white;
        margin: 0;
    }
    #plant{
        font-size: 35px;
        color: rgb(19,72,62);
    }
    .service_box8 .div3{
        height: 350px;
        width: 350px;
        /* border: 2px solid red; */
        background: url(/images/s8.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 20px;
    } 
}
@media screen and (max-width: 1200px){
    .service_box9 {
        height: auto;
        width: 100%;
        /* border: 2px solid red; */
    }
    .laculis{
        height: 80px;
        width: 900px;
        /* border: 2px solid red; */
        background: rgb(245,245,245);
        /* text-align: center; */
        align-items: center;
        /* justify-content: center; */
        margin-left: 200px;
        font-size: 25px;
        color: rgb(19,72,69);
        display: flex;
        margin-bottom: 20px;
    }
    .laculis .div2{
        display: flex;
        flex-direction: column;
    }
}
.service_box10{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.service_box10 button{
    height: 50px;
    width: 220px;
    border: none;
    border-radius: 35px;
    background: rgb(94,155,33);
    color: white;
    font-size: 15px;
    align-items: center;
    margin: 50px;
}
.footer {
    z-index: 1;
    height: 450px;
    width: 100%;
    /* border: 2px solid red; */
    /* position: absolute; */
    top: 4350px;
    background-color: rgb(255, 255, 255) !important;
    background: url(/images/f19.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* display: flex; */
    /* text-align: center; */
}
@media screen and (max-width: 1200px){
    .footer {
        /* display: none !important; */
        z-index: 1;
        height: 800px !important;
        width: 100%;
        /* border: 2px solid red; */
        /* position: absolute; */
        /* top: 4350px; */
        background-color: rgb(255, 255, 255) !important;
        background: url(/images/f19.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
    } 
    .envato {
        margin-left: 5px !important;
        margin-top: 8px !important;
        height: 200px !important;
        width: 200px;
        /* border: 2px solid red; */
        display: block;
    }
    #v {
        color: rgb(190, 199, 198);
        font-size: 18px !important;
    }
    .bottom_div{
        display: flex;
        flex-direction: column;
    }
    .call {
        height: 200px !important;
        width: 100% !important;
        /* border: 2px solid red; */
        margin-left: 15px !important;
        margin-top: 8px !important;
        text-align: center;
    }
    #zero {
        color: rgb(19, 72, 69);
        font-size: 20px !important;
        margin-bottom: 0px;
    }
    #us {
        color: rgb(103, 170, 98);
        font-size: 20px !important;
    }
    .facebook {
        height: 150px !important;
        width: 200px;
        /* border: 2px solid red; */
        margin-left: 1px !important;
        margin-top: 8px !important;
        /* margin-bottom: 80px; */
        text-align: center;
        font-size: 20px;
        /* color: rgb(103,170,98); */
    }
    .bye {
        /* position: absolute; */
        bottom: 0px;
        left: 1px !important;
        height: 100px !important;
        width: 100% !important;
        /* border: 2px solid red; */
        margin-left: 1px !important;
        margin-top: 80px !important;
        /* display: flex; */
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

.envato {
    margin-left: 50px;
    margin-top: 80px;
    height: 200px;
    width: 200px;
    /* border: 2px solid red; */
}

#v {
    color: rgb(190, 199, 198);
    font-size: 18px;
}

.call {
    height: 200px;
    width: 500px;
    /* border: 2px solid red; */
    margin-left: 150px;
    margin-top: 80px;
    text-align: center;
}

#zero {
    color: rgb(19, 72, 69);
    font-size: 40px;
    margin-bottom: 0px;
}

#us {
    color: rgb(103, 170, 98);
    font-size: 20px;
}

.facebook {
    height: 200px;
    width: 200px;
    /* border: 2px solid red; */
    margin-left: 150px;
    margin-top: 80px;
    text-align: center;
    font-size: 20px;
    /* color: rgb(103,170,98); */
}

.book {
    color: rgb(103, 170, 98);
}
.bottom_div{
    display: flex;
}

.bye {
    /* position: absolute; */
    display: block;
    /* bottom: 0px;
    left: 200px; */
    height: 100px;
    width: 700px;
    /* border: 2px solid red; */
    margin-left: 350px;
    margin-top: 80px;
    text-align: center;

}

